<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'books_authors_app/css/style.css' %}">
    <title>Books/Authors Template</title>
</head>
<body>
    <div class="container">
        <div class="additem">
            <h1>Add an Author</h1>
            <form action="/addauthor" method="post">
                    {% csrf_token %}
                <div class="entry">
                    <h3>First Name</h3>
                    <input type="text" name="first_name">
                </div>
                <div class="entry">
                    <h3>Last Name</h3>
                    <input type="text" name="last_name">
                </div>
                <div class="entry">
                    <h3>Notes</h3>
                    <textarea name="notes" cols="16" rows="6"></textarea>
                </div>
                <input type="submit" value="Add">

            </form>
        </div>

        <div class="table">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                {% for author in authors %}
                <tr>
                    <td>{{author.id}}</td>
                    <td>{{author.first_name}} {{author.last_name}}</td>
                    <td><a href="/authors/{{author.id}}">View</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <a href="/"><p class="notnice">To Books</p></a>
    </div>


</body>
</html>