@{
    ViewData["Title"] = "Login/Register";
}

<div class="row">
    <div class="col">
        <partial name="_RegPartial"/>
    </div>
    <div class="col">
        <partial name="_LogPartial"/>
    </div>
</div>
