<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- In this context '~' refers to the wwwroot folder -->
    <link rel="stylesheet" href="~/css/style.css">
    <title>Hello!</title>
</head>
<body>
    <header>
        <p class="playnice">Home | </p>
        <p class="playnice"><a href="/projects">Projects</a> | </p>
        <p class="playnice"><a href="/contact">Contact</a></p>
    </header>
    <div class="container">
        <h1>About Me</h1>
        <div class="pic playnice">
            <img src="~/img/lounge.jpg" alt="definitely not me">
            <p class="cent">Not Jon Seastedt</p>
            <p class="cent">I like stuff!</p>
        </div>
        <div class="info playnice">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum qui quo aliquid dolore ex consectetur natus sit id perspiciatis fuga sint, voluptates iste facere repellat beatae pariatur molestiae ab. Iste, cumque. Temporibus consequuntur omnis sint, explicabo adipisci, placeat tempore voluptate quas dignissimos fugiat nobis eum, nam distinctio. Sed eius deleniti consequuntur consequatur minus soluta delectus repellat corrupti error repellendus? Ratione iste alias optio, deleniti ipsa dolore veritatis dicta saepe odit nemo sint atque consequatur id asperiores facilis earum fugiat harum accusamus voluptate ipsum ullam nostrum eos vitae. Debitis, nesciunt quaerat in facilis vel qui sapiente soluta? Eos repellat deleniti tenetur?</p>
        </div>
    </div>

</body>
</html>

