<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Number Game</title>
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess!</p>

    <p>
        {% if not win%}
            {{result}}
        {% else %}
            {{result}}<br>
            It took you {{numGuess}} guesses
        {% endif %}
    </p>

    {% if not win %}
        <form action="/guess" method="post">
            <input type="number" name="guess">
            <input type="submit" value="submit">
        </form>
    {%  else %}
        <form action="/again" method="post">
            <button>Play Again?</button>
        </form>
    {% endif %}
    
</body>
</html>