@{
    ViewData["Title"] = "Login/Register";
}


<div class="row">
    <div class="col">
        <partial name="RegPartial"/>
    </div>
    <div class="col">
        <partial name="LogPartial"/>
    </div>
</div>

