<h3>Login to this Cool Site!</h3>
@model LUser
<form action="/checkLog" method="post">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-entry">
                <label >Email</label>
                <span asp-validation-for="LEmail" class="text-danger"></span>
                <input asp-for="LEmail" class="form-control">
            </div>
            <div class="form-entry">
                <label asp-for="LPassword"></label>
                <span asp-validation-for="LPassword" class="text-danger"></span>
                <input asp-for="LPassword" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" value="Login Now!" class="btn btn-primary mt-3">
        </div>
    </div>
</form>