<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'login_app/css/style.css' %}">
    <title>Welcome</title>
</head>
<body>
    <div class="container">
        <div class="welcome playnice">
            <h1>Success! Welcome, {{request.session.first_name.title}}!</h1>
            <h3>Successfully registered (or logged in)!</h3>
        </div>
        <div class="logout playnice">
            <a href="/logout"><p>Logout</p></a>
        </div>

    </div>

</body>
</html>