@{
    ViewData["Title"] = "All Those Tasty Dishes";
}

<div class="row">
    <h5>Yum, take a look at our tasty dishes!</h5>
</div>
<div class="row">
    <p>insert a weird page break divider</p>
</div>
<div class="row">
    <p>Table Goes Here</p>
</div>