.container {
    /* width: 1000px; */
    margin: 0 auto;
    font-size: 0;
}



.box1 {
    width: 25px;
    height: 25px;
    background-color: rebeccapurple;
    display: inline-block;
}

.box2 {
    width: 25px;
    height: 25px;
    background-color: lightblue;
    display: inline-block;
}