<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'tv_shows_app/css/style.css' %}">
    <title>Create</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="playnice">Add a New Show</h1>
            <a href="/"><p class="playnice">Go Back</p></a>
        </header>
        <!-- add the ul error messages here -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ messsage.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <form action="/shows/create" method="post">
            {% csrf_token %}
            <div class="entry">
                <h3>Title</h3>
                <input type="text" name="title">
            </div>
            <div class="entry playnice">
                <h3>Network</h3>
                <input type="text" name="network">
            </div>
            <div class="entry playnice">
                <h3>Release Date</h3>
                <input type="date" name="rel_date">
            </div>
            <div class="entry">
                <h3>Description</h3>
                <textarea name="desc" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Create">
        </form>


    </div>
</body>
</html>